/* 

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height:100%;
  width:100%;
  background: gray;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
   
}

#app h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
  text-transform: uppercase;
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;

}
#hero{
  
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom: 0px;;
  /* transform: translateY(-740%); */
   /* width: 100%;
   opacity: 0.5;
  height:25vh;   
  border:none;
  display: none;

}
#hero canvas {
  background:transparent;
  height: 0px;
  width: 0px; 

}
#hero canvas:nth-child(1){
 display: none;
} */
 















 /* */ 